*{
    margin: 0;
    padding: 0;
}
body {
    background: url('./fb.jpg') repeat;
    background-size: cover;
    
}
.login-facebook{
    width: 450px;   
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    position: relative;
    left: 500px;
    color: #fff;
}
.login-facebook h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
p {
    font-size: 36px;
}
input{
    font-size: 16px;
    width:100% ;
    margin: auto;
    padding: 15px 10px; 
    border: 0;
    outline: none;
    border-radius: 10px;
}
button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    position: absolute;
    left: 100px;
    top: 320px;
    background-color: rgb(51, 253, 243);
}
span{
    font-size: 25px;
    font-style: italic;
    position: absolute;
    left: 20px;
   
}
span A {
    color: red;
}
footer{
    font-size: 30px;
    color: snow;
    position: absolute; 
    top: 90%;
    left: 10%;

}